<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DroneAcharya</title>

    <!-- leaflet css -->  
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->

</head>

<body>
    
    <div class="map-container" id="map">
    </div>

    <div class="content" id="first"> 
        <a href="">Base Layer</a><br>
        <a href="https://www.w3schools.com">Overlay Layer</a>
    </div>

    <div class="content" id="second"></div>

    <div class="chart-container">
        <canvas width="300" height="280" style="border:10px solid #d3d3d3;" id="MyChart"></canvas>
    </div>

</body>
</html>