
div#first{
    height: 280px;
    width:300px;
    top: 0px;
    left: 0px;
    border: 2px solid #000000;
}


.chart-container{
    border: 2px solid #000000;
    height: 280px;
    width: 300px;
    bottom: 0px;
    left: 0px;
}

div#map{
    position: absolute;
    top: 10px;
    left: 325px;
    height: 570px;
    width: 950px;
    border: 2px solid #000000;
}

